params {
    input {
        params.input.fastq_path = '/home/bioinfo-pc-10/Desktop/Nf-NeST/barcode'
        params.reads = '/home/bioinfo-pc-10/Desktop/Nf-NeST/barcode'
        fastq_path = "./angola/"
        fasta_path = "$baseDir/ref/pfalciparum/adapters.fa"
        reference_path = "$baseDir/ref/pfalciparum/New_6_genes.fa"
        bed_path = "$baseDir/ref/pfalciparum/New_6_genes.bed"
        variant_path = "./ref/pfalciparum/Reportable_SNPs.csv"
        mode = "Bowtie"
        vcfmode = "HaplotypeCaller"
        datasettype = "Angola"
    }

    output {
        folder = "./local/angola_docker"
        report.overwrite = true
    }
}